<head>
    <title>සිං-Meta Finder</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!--jQuery UI-->
    <link rel="stylesheet" type="text/css"
        href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/redmond/jquery-ui.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>

    <!--Bootstrap-->
    <link rel="stylesheet" type="text/css"
        href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.css">
    <script type="text/javascript"
        src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.js"></script>

    <link rel="stylesheet" type="text/css" href="./styles.css">
    <script>
        // metainfo = function (meta) {
        //     console.log(meta);
        //     $(".modal-header modal-title").val("වැඩි විස්තර");
        //     $('#meta-details-modal').modal('show');

        // }

        $(document).on("click", "#meta-details", function () {
            var source = $(this).data('source');
            console.log(source);
            targets = $(this).data('targets');
            targets = targets.replaceAll('[','')
            targets = targets.replaceAll(']','')
            targets = targets.replaceAll('\'','')
            console.log(targets)
            var inte = $(this).data('inte');
            console.log(inte)
            $("#modal-title-id").text("වැඩිදුර විස්තර");
            $(".modal-body #source").text("උපමේය : "+source)
            $(".modal-body #targets").text("උපමා : "+targets)
            $(".modal-body #inte").text("පැහැදිලි කිරීම : "+inte)
        });

        get_suggestions = function (val) {

            console.log(val);
            $.ajax({
                url: "/suggestions/" + val,
                type: 'GET',
                success: function (res) {
                    console.log(res)
                    $("#form-search").autocomplete({
                        source: res
                    });
                }
            });
        }
    </script>
</head>

<body>


    <!-- IMG -->
    <div class="image">
        <h1 id="title">සිං-Meta Finder</h1>
        <a href="#" id="logo"><img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_uc9hFkbKs_JggDIyBNPRNx_IR4HkGoP68Q&usqp=CAU"
                alt="Sin-Meta Logo" /></a>
        <p id="tag">රචකයා, තනු, නම්, උපමා, උපමේයන් සොයමු</p>
    </div>

    <!-- FORM SEARCH -->
    <div class="form">
        <form action="/submit" method="post">
            <label for="form-search"></label>
            <input type="text" oninput="get_suggestions(this.value)" name="form-search" id="form-search"
                placeholder="සිංහලින් ඇතුලත් කරන්න">
            <!-- BUTTONS -->
            <div class="buttons">
                <input type="submit" value="සොයන්න" id="search">
            </div>
        </form>
    </div>
    <div class="configs">
        {% for m in msg %}
        <p id="msg">{{m}}</p>
        {% endfor %}
    </div>
    <div class="container" id="song-table">
        <div class="row" id="song-row-h">
            <div class="song-column-h">
                <p id="msg1">ID</p>
            </div>
            <div class="song-column-h">
                <p id="msg1">LINK</p>
            </div>
            <div class="song-column-h">
                <p id="msg1">NAME</p>
            </div>
            <div class="song-column-h">
                <p id="msg1">VIEWS</p>
            </div>
            <div class="song-column-h">
                <p id="msg1">PUBLISHED</p>
            </div>
            <div class="song-column-h">
                <p id="msg1">LENGHT (S)</p>
            </div>
            <div class="song-column-h">
                <p id="msg1">METAPHORS</p>
            </div>
            <div class="song-column-h">
                <p id="msg1">SINGERS</p>
            </div>
            <div class="song-column-h">
                <p id="msg1">LYRICS</p>
            </div>
        </div>
        {% for song in results %}
        <div class="row" id="song-row">
            <div class="song-column">
                <p id="msg1">{{song.id}}</p>
            </div>
            <div class="song-column">
                <a id="yt-btn" href="{{song.youtube_link}}" target="_blank">VIEW</a>
            </div>
            <div class="song-column">
                <p id="msg1">{{song.name}}</p>
            </div>
            <div class="song-column">
                <p id="msg1">{{song.view_count}}</p>
            </div>
            <div class="song-column">
                <p id="msg1">{{song.published_on}}</p>
            </div>
            <div class="song-column">
                <p id="msg1">{{song.length}}</p>
            </div>
            <div class="song-column">
                {% for meta in song.metaphors %}
                <a id="meta-details" data-inte="{{meta.interpretation}}" data-targets="{{meta.targets}}" data-source="{{meta.source}}" data-toggle="modal"
                    href="#meta-details-modal">{{meta.source}}</a><br><br>
                {% endfor %}
            </div>
            <div class="song-column">
                {% for singer in song.singers %}
                <p id="msg1">{{singer}}</p>
                {% endfor %}
            </div>
            <div class="song-column">
                {% if song.lyrics=="වලන්ගු මූලාශ්රයක් නැත" %}
                <p id="msg1">-</p>
                {% else %}
                {% for lyricsrow in song.lyrics %}
                <p id="msg1">{{lyricsrow}}</p>
                {% endfor %}
                {% endif %}
            </div>

        </div>

        {% endfor %}
    </div>


    <!-- Modal -->
    <div id="meta-details-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="modal-title-id">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p id="source">-</p>
                    <p id="targets">-</p>
                    <p id="inte">-</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</body>