<head>
    <title>සිං-Meta Finder</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./styles.css">
</head>

<body>


    <!-- IMG -->
    <div class="image">
        <h1 id="title">සිං-Meta Finder</h1>
        <a href="#" id="logo"><img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_uc9hFkbKs_JggDIyBNPRNx_IR4HkGoP68Q&usqp=CAU"
                alt="Sin-Meta Logo" /></a>
        <p id="tag">උපමා යොදා සින්දු රසවත් කරමු</p>
    </div>

    <!-- FORM SEARCH -->
    <div class="form">
        <form>
            <label for="form-search"></label>
            <input type="text" id="form-search" placeholder="උපමේයක් යොදන්න. සින්දු වල ඇති ඊට ගැලපෙන උපමා ලැබේ">
        </form>
    </div>

    <!-- BUTTONS -->
    <div class="buttons">
        <input type="submit" value="සොයන්න" id="search">
    </div>

    
</body>